<h1>Hello Rails</h1>


<div id="root">
  foo
</div>

<%= javascript_pack_tag("application") %>

<%= react_component("Timer", message: "baby") %>

<%= react_component("Counter") %>

<div class="counter-display">
  <%= react_component("CounterDisplay") %>
<div>
